# =========================
# Java / Maven
# =========================
/target/
*.class
*.log
*.ctxt

# =========================
# IDEs
# =========================
# IntelliJ
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VSCode
.vscode/

# =========================
# OpenAPI Generated Code
# =========================
# Ignorar los DTOs generados automáticamente
/src/gen/java/

# =========================
# OS Specific
# =========================
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
